extends layout

block content
  h1 Edit Profile
  p Leave the profile image choice empty if you do not wish to change it.
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  form(method='post', action='/users/edituser', enctype="multipart/form-data")
   .form-group
    label Full Name:
    input.form-control(name='name', type='text', placeholder = 'Enter New Name')
   .form-group
    label Email:
    input.form-control(name='email', type='email', placeholder = 'Enter New Email') 
   .form-group
    label Profile Image:
    input.form-control(name='mainimage', type='file')  
   input.btn.btn-default(name = 'submit',type = 'submit', value = 'Save')
    
