extends layout

block content
 h2.page-header Change Password
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method='post', action='/users/updatepassword',enctype='multipart/form-data')
  .form-group
   label Password:
   input.form-control(name='password', type='password', value = '', placeholder='Enter New Password')
  .form-group
   label Confirm Password:
   input.form-control(name='confirmpassword', type='password', value = '', placeholder='Confirm Password')
  input.btn.btn-primary(type='submit', name='submit',value='Save')
