extends layout

block content
  h1 Change Password
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  if users
    form(method='post', action='/users/updatepassword', enctype="multipart/form-data")
      .form-group
        label Enter New Password:
        input.form-control(name='password', type='password', placeholder= 'Enter Password')
      .form-group
        label Confirm Password:
        input.form-control(name='confirmpassword', type='password', placeholder= 'Confirm Password')   
      input.btn.btn-default(name = 'submit',type = 'submit', value = 'Save')
    
